@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 0px;
    overflow-x: hidden;
}

#ini_card {
    height: 430px;
    width: 50%;
    border: 2px solid black;
    max-width: 600px;
    border-radius: 5px;
    background-image: url("https://www.pngkey.com/png/detail/39-396361_save-earth-free-download-png-clean-india-green.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    #ini_card {
        height: 230px;
        width: 45%;
        border: 2px solid black;
        border-radius: 5px;
        background-image: url("https://www.pngkey.com/png/detail/39-396361_save-earth-free-download-png-clean-india-green.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #hoverable_card > h5 {
        font-size: 1.1rem;
        position: relative;
        top: 40%;
        padding: 10px;
    }

    #hoverable_card > h3 {
        position: absolute;
        padding: 10px;
    }
}

#hoverable_card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    /* background: green; */
}

#hoverable_card > h3 {
    position: absolute;
    padding: 30px;
    top: 10%;
    font-weight: bold;
}
#hoverable_card > h5 {
    position: relative;
    top: 70%;
    padding: 30px;
}
